*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header{
    background-image: linear-gradient(rgb(90, 97, 199), rgb(19, 10, 138));
    color: white;
    text-align: center;
    padding: 5px;
}

input, button {
    display: block;
    width: 100%; 

}
button {
    background:dodgerblue ;
    color:white;


}
.form{
    padding: 10px;
    border-bottom: gray solid 2px;

}